body {
  font-family: sans-serif;
  text-align: center;
  padding: 100px;
  font-size: 30px;
}

.counter {
  font-size: 80px;
  margin-bottom: 20px;
}

.btn {
  border-radius: 12px;
  background-color: rgb(30, 79, 170);
  font-size: 16px;
  border: none;
  width: 100px;
  height: 30px;
}

.btn:hover {
  background-color: rgb(39, 132, 219);
}
